*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head{
    display: flex;
width: 100%;
margin-top: 30px;
justify-content: space-around;

}

.head-para{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 20px;
width: 45vw;

}

.head-para h1{
width: 45vw;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 54px;
color: #263238;
}

.head-para p{
    width: 45vw;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 35px;
letter-spacing: 0.015em;
color: #717171;

}
.head img{
width: 30vw;
}
.head-para span{
     color: #0DB760;
    
}

.head2{
display: flex;
padding: 0px;
width: 100%;
padding: 0px 80px;
margin: 60px 0px;
}



.headpara2>h1{
width: 35vw;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 50px;
display: flex;
align-items: center;
text-transform: capitalize;
color: #263238;
}

.head2img{
    width: 50%;
    display: flex;
    align-items: center;
}

.head2img img{
    width: 100%;
    height: 100%;
}

.headpara2>p{
width: 90%;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
letter-spacing: 0.015em;
color: #717171;
margin: 20px 0px;
}

.innerpara{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 25px;
width: 100%;

}

.innerpara div{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 5px;
width: 40%;
margin: 10px 0px;
}

.innerpara div h1{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
display: flex;
align-items: center;
color: #4CAF4F;

}

.innerpara div p{
width: 100%;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.015em;
color: #717171;

}

.upcomingcelebration{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 5vh;
gap: 20px;
width: 100%;

}

.upcomingcelebration h2{
    font-size: 20px;
    font-weight: medium;
font-family: 'Poppins';
font-style: normal;
}

.upcomingcelebration h1{
width: 38vw;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
text-align: center;
color: #263238;

}


.img-container{
    display: flex;
    justify-content: space-evenly;
    margin: 8vh;
}

.img-container img{
display: flex;
align-items: flex-start;
padding: 0px;
gap: 20px;
width: 28vw;
}

.upcomingcelebration h3{
min-width: 40vw;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
letter-spacing: 0.015em;
color: #717171;
}

.heading{
width: 100%;
font-family: 'Poppins';
display: flex;
align-items: center;
justify-content: center;
font-style: normal;
font-weight: 600;
text-align: center;
}
.heading h1{
    color: #263238;
    width: 50%;
}

.img-container2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
    padding: 0px 70px;
}

.img-container2 img{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
width: 28vw;
}

.heading2{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 70px;
width: 100%;
margin: 40px 0px;

}

.heading2 h1{
margin: 0px 25px;
width: 33vw;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 57px;
display: flex;
align-items: center;
text-transform: capitalize;
color: #4CAF4F;
}

.inner{
display: flex;
flex-direction: column;
padding: 0px;
gap: 20px;
margin: 0 auto;
width: 47vw;
}

.inner p{
width: 47vw;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 35px;
display: flex;
align-items: center;
letter-spacing: 0.015em;
color: #263238;
}

.buttons{
    display: flex;
    gap: 10px;
}

.buttons button{
display: flex;
justify-content: center;
align-items: center;
padding: 16px 32px;
width: 12vw;
height: 8vh;
background: #4CAF4F;
border-radius: 4px;
border: none;
color: #FFFFFF;
cursor: pointer;
}
.buttons button+button{
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
width: 12vw;
height: 8vh;
background: #FFFFFF;
border: 1px solid #4CAF4F;
border-radius: 4px;
color: #4CAF4F;
cursor: pointer;

}

   

@media(max-width:1025px) and (min-width: 501px){

    .head-para h1{
      font-size: 30px;
    }

    .head2{
        width: 100%;
        margin: 0px;
        padding: 0px 35px;
        margin-top: 40px;
    }
    .head-para p{
      font-size: 14px;
      height: auto;
      line-height: 25px;
    }
    .head img{
        width: 40vw;
    }
    .headpara2{
        height: auto;
    }
    .headpara2>h1{
       font-size: 20px;
       width: 50vw;
       line-height: 30px;
    }
    .headpara2>p{
        font-size: 15px;
        height: auto;
    }
    .innerpara div h1{
        font-size: 16px;
    }
    .innerpara div p{
         font-size: 12px;
         line-height: normal;
    }
    .head2 img{
        height: auto;
    }
  
    
    .upcomingcelebration{
        gap: 0px;
    }
    .upcomingcelebration h1{
      font-size: 20px;
      width: 100%;
    }
    .upcomingcelebration h3{
        font-size: 17px;
        height: auto;
    }
    .img-container{
        margin: 30px 0px;
        
    }
    .img-container2{
        padding: 0px;
    }
    .heading h1{
        font-size: 20px;
        width: 100%;
    }
    .img-container2 img {
        height: auto;
    }
    .heading2 h1 {
        font-size: 20px;
        width: 100%;
        line-height: normal;
        padding:0px;
        margin: 0px;
    }
    .heading2{
        padding: 0px 35px;
    }
    .inner p{
        font-size: 17px;
        line-height: normal;
    }

    .buttons button{
        width: 100px;
        height: 5vh;
        font-size: 13px;
        padding: 0px;
    }
    .buttons button+button{
        width: 100px;
        height: 5vh;
        font-size: 13px;
        padding: 0px;
    }
}

@media(max-width:500px) {
 
    .head{
        display: flex;
        flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    width: 100%;
    position: relative;
    
    }
    
    .head img{
    width: 90%;
    margin-top: 9vh;
    margin-left: 15px;
    }
    
    .head-para p{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.015em;
    
    }
    
    .head-para{
        gap: 0px;
        margin: 0px;
        width: 95%;
        display: flex;
        justify-content: none;
    }
    
    
    
    .head-para h1{
    position: absolute;
    line-height: 30px;
    top: 0px;
    width: 95%;
    margin: 0px;
    gap: 0px;
    left: 15px;
    height: 80px;
    font-weight: 700;
    font-size: 24px;
    }
    
    .head2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width:100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 15px;
    
    }
    .head2img{
        width: 100%;

    }
    .head2img img{
        width: 100%;
    }
    .headpara2 h1{
    width: 100%;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    
    }
    
    .headpara2 p{
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.015em;
    
    }
    .innerpara{
        display: flex;
        flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 100%;
    }
    .innerpara div {
        width: 100%;
        gap: 0px;
    }
    .innerpara div p{
    width: 100%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    letter-spacing: 0.015em;
    
    }
    .innerpara div h1{
        margin-top: 3vh;
    width: 195px;
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    display: flex;
    align-items: center;
    
    }
    .head2 img{
    width: 100%;
    }
    
    .upcomingcelebration{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 0px;
    margin: 0px;
    width: 100%;
    }
    
    .upcomingcelebration h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    }
    
    .upcomingcelebration h1{
        width: 100%;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    
    }
    
    .upcomingcelebration h3{
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.015em;
    }
    
    .img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    margin: 0px;
    padding: 0px 15px;
    justify-content: space-around;
    
    }
    
    .img-container img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding: 0px;
    gap: 20px;
    margin: 0px;
    width: 100%;
    }
    
    .heading h1{
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 0px;
    margin-bottom: 4vh;
    
    }
    
    .img-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0px;
    padding: 0px 15px;
    }
    
    .img-container2 img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 100%;
    }
    
    .heading2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    gap: 20px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    }
    
    .heading2 h1{
        /* Support Our Cause Today */
    margin: 0px;
    width: 100%;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    
    }
    
    .inner p{
        width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    display: flex;
    align-items: center;
    letter-spacing: 0.015em;
    
    }
    
    .inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 100%;
    
    }
    
    .inner button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    gap: 10px;
    width: 100px;
    height: 40px;
    padding: 0px;
    }
    
    .inner button+button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        }
    
    } 