*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.head{
    display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin-top: 20px;
width: 100%;
}

.head img{
width: 30vw;

}

.head-para h1{
font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 50px;
color: #4CAF4F;
}

.head-para{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 40vw;

}


.head-para h2{
font-family: 'Poppins';
font-style: normal;
margin: 20px 0px;
font-weight: 600;
font-size: 28px;
display: flex;
align-items: center;
color: #010101;
padding-top: 0px;
}

.head-para h3{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
margin-bottom: 20px;
line-height: 30px;
display: flex;
align-items: center;
color: #263238;
}
.head-para p{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
letter-spacing: 0.015em;

color: #717171;

}

.head2{
    display: flex;
    flex-direction: column;
align-items: center;
gap: 10px;
width: 100%;
margin-top: 50px;

}

.head2 h1{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 35px;
display: flex;
align-items: center;
text-align: center;
color: #4CAF4F;
}

.head2 h2{
width: 54vw;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.015em;
color: #263238;
}

.head2 p{
width: 86vw;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;
color: #717171;
}

.img-container{
    width: 100%;
    padding: 0px 100px;
    display: flex;
    margin: 40px 0px;
    justify-content: space-evenly;
    flex-wrap: wrap;


}

.imgfirst{
    width: 50%;
}
.imgsecond{
    width: 50%;
}

.img1{
width: 21.3vw;


}

.img2{
    width: 21.1vw;
}


.img3{
width: 42.6vw;

}

.img4{
    width: 42.6vw;
 
}

.img5{
    
width: 21.1vw;


}

.img6{
    width: 21.3vw;

}

.head3{
gap: 20px;
width: 100%;
padding-left: 5vw;
display: flex;
flex-direction: row;
margin-bottom: 40px;
}

.head3-cont{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 20px;
    width: 60%;
}


.head3 h1{
width: 30vw;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 58px;
text-transform: capitalize;
color: #263238;
}

.head3 p{
width: 100%;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 35px;
letter-spacing: 0.015em;
color: #717171;
}

.head3-para{
gap: 15px;
width: 100%;
display: flex;
}

.head3-para div{
gap: 5px;
width: 100%;
}

.head3-para  h2{
width: 100%;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 45px;
display: flex;
align-items: center;
color: #4CAF4F;
}

.head3-para p{
width: 20vw;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.015em;
color: #717171;
}


.head3 img{
width: 30vw;
display: flex;
align-items: center;
justify-content: center;

}

.head3-btn{
    display: flex;
    gap: 10px;
}
.head3-btn button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 10px;
width: 194px;
height: 56px;
background: #4CAF4F;
border-radius: 4px;
border: none;
color: #FFFFFF;
cursor: pointer;



}

.head3-btn .don-but{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 10px;
width: 194px;
height: 56px;
background: #FFFFFF;
border: 1px solid #4CAF4F;
border-radius: 4px;
color: #4CAF4F;
cursor: pointer;

}


@media(max-width:1024px){

    .head{
        width: 100%;
        padding:0px 55px;
    }
.head-para h1{
    font-size: 30px;
}
.head-para h2{
    font-size: 22px;
    width: 100%;
    margin: 10px 0px;
}
.head-para h3{
    font-size: 18px;
    width: 100%;
    margin: 10px 0px;
}
.head-para p{
    font-size: 16px;
    width: 100%;
}
.head-para{
    width: auto;
}

.head{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.head img{
    width: 40vw;
}

.head2{
    margin: 0px;
    margin-top: 20px;
    width: 100%;
}
.head2 h1{
font-size: 22px;
height: auto;
}
.head2 h2{
font-size: 18px;
height: auto;
}

.head2 p{
font-size: 16px;
height: auto;
width: 90%;
}
.img-container{
width: 100%;
margin: 30px 0px;
padding: 0px 75px;
}

.img1, .img2, .img5, .img6{
    width: 21vw;
}

.img4, .img3{
    width: 42.2vw;
}




.head3 h1{
    font-size: 30px;
    line-height: normal;
    width: 100%;
}
.head3 p{
    font-size: 20px;line-height: normal;
}
.head3-para h2{
    font-size: 24px;
    line-height: normal;

    
}
.head3-para p{
    font-size: 16px;
    width: 100%;
    line-height: normal;
}



.head3-btn button{
    width: 13vw;
    height: 6vh;
    font-size: 11px;
    padding: 0px;
}
.head3-btn .don-but{
    width: 13vw;
    height: 6vh;
    font-size: 11px;
    padding: 0px;
}
.head3-btn{
    margin-top: 3vh;
    display: flex;
}

}



@media(max-width:769px) {
    .img1{
        width: 98%;
    }
    .img2{
        width: 98%;
    }
    .img3{
        width: 98%;
    }
    .img4{
        width: 98%;
    }
    .img5{
        width: 98%;
    }
    .img6{
        width: 98%;
    }
    .img-container{
        padding: 0px 40px;
    }
    .head3 img{
        width: 30vw;
        height: auto;
      
    }
    .head3{
        align-items: center;
    }
    .head3-cont{
        padding-left: 0px;
    }
}

@media(max-width:600px) {
 
    .head{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
     margin:0px;
     padding: 0px 15px;
     margin-top: 2vh;
    }
    
    .head img{
    width: 100%;
    margin-top: 5vh;
    
    }
    
    .head-para{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;
    width: 100%;
    
    }
    
    .head-para h1{
    position: absolute;
    top: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 63px;
    display: flex;
    align-items: center;
    
    }
    
    .head-para h2{
    width: 100%;
    font-weight: 600;
    font-size: 22px;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    
    }
    
    .head-para h3{
        width: 100%;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
    }
    
    .head-para p{
        width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.015em;
    }
    
    
    .head2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0px 15px;
    margin: 40px 0px;
    
    }
    .head2 h1{
    
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    
    }
    
    .head2 h2{
        width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.015em;
    
    }
    
    .head2 p{
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 173.5%;
    display: flex;
    align-items: center;
    text-align: center;
    
    }
    
    .img-container{
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    
    }
    .imgfirst{
        width: 100%;
    }
    .imgsecond{
        width: 100%;
    }
    
    .img1{
     
        width: 100%;
        height: auto;
    
    }
    
    .img2{
      
        width: 100%;
        height: auto;
    }
    
    .img3{
     top: 0px;
     width: 100%;
     height: auto;
    
    }
    
    .img4{
        width: 100%;
    margin: 0px;
    height: auto;
    
    }
    
    
    
    .img5{
     
        width: 100%;
        height: auto;
    
    }
    
    .img6{
        width: 100%;
        height: auto;
    
    }
    
    .head3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 15px;
    gap: 20px;
    margin-top: 40px;
    width: 100%;
    }
    
    .head3 img{
    width: 100%;
    height: auto;
    }
    
    .head3 h1{
        width: 100%;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    
    }
    
    
    .head3 p{
        width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.015em;
      
    }
    .head3-cont{
        width: 100%;
        padding-left: 0px;
    }
    
    .head3-para{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 100%;
    order: 3;
    
    }
    
    .head3-para div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 100%;
    
    
    }
    .head3-para h2{
        width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    
    }
    
    .head3-para p{
        width: 100%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.015em;
    
    }
    
    .head3-btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 21px;
    order: 4;
    width: 100%;
    height: 56px;
    
    }
    
    .head3-btn button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 110px;
    height: 35px;
    font-size: 13px;
    
    }
    .head3-btn .don-but {
        width: 110px;
        height: 35px; 
        padding: 0px;
    
    }
    }    
    