*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.publication-head{
    font-family: 'poppins';
    width: 100%;
}

.publication-head h1{
    text-align: center;
    width: 100%;
    font-weight: 550;
    font-size: 3rem;
    margin-top: 1rem;
}

/*product*/

#product1 .pro-container{
    display: flex;
    gap: 2rem;
    padding: 0px 15px;
    padding-top: 20px;
    flex-wrap: wrap;
    font-family: 'poppins';
    justify-content: center;
  }
  #product1 .pro{
    width: 24%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
  }
  
  #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(10,10,10,0.106);
  
  }
  
  #product1 .pro img{
    width: 100%;
    border-radius: 20px;
  }
  
  #product1 .pro .des{
    text-align: start;
    padding: 10px 0;
  }
  #product1 .pro .des span{
    color:grey;
    font-size: 14px;
  }
  
  #product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 20px;
  }
  
  .pro a i{
    font-size: 29px;
    float: right;
  }

  .pro a i:hover{
    color: #4CAF4F;
  }
  


  @media(max-width:526px) {
    #product .pro{
        width: 100%;
    }
    #product1 .pro-container{
      justify-content: center;
    }




  }  


  @media(max-width:992px) and (min-width: 527px){

    #product1 .pro-container {
  
      justify-content: center;
  }
  
  #product1 .pro {
      margin: 15px ;
  }
  } 